body {
  background-color: #f5f5f5;
}

#form_wrap {
  width: 600px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 12px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
}

#form_wrap .head_form {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  font-size: 14px;
}

#form_wrap .head_form p:first-child {
  color: var(--header-color);
}

#form_wrap .head_form i {
  margin-right: 10px;
}

#form_wrap .main_form {
  width: 100%;
  background-color: #fff;
  margin-top: 16px;
  border-radius: 6px;
  padding: 12px;
  overflow: hidden;
}

#form_wrap .main_form h4 {
  margin-bottom: 12px;
}

#form_wrap .main_form > .boxx {
  margin-bottom: -4px;
}

#form_wrap .main_form > .boxx small {
  display: inline-block;
  margin: 6px 0 10px 2px;
}

#form_wrap .main_form > .box_province {
  margin-bottom: 22px;
}

#form_wrap .main_form > .boxx input,
#form_wrap .main_form > .boxx select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 100%;
}

#form_wrap .box_name,
#form_wrap .box_phone {
  display: inline-block;
}

#form_wrap .main_form .box_name {
  float: left;
}

#form_wrap .main_form .box_phone {
  float: right;
}

#form_wrap .main_form .box_phone,
#form_wrap .main_form .box_name {
  width: 49%;
}

#form_wrap .main_form select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  color: #555;
}

#form_wrap .main_form textarea {
  height: 40px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 10px;
}

#form_wrap .main_form p {
  color: #555;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 20px;
}

#form_wrap .main_form .payment {
  margin-bottom: 14px;
  display: flex;
}

#form_wrap .main_form .payment input {
  margin-right: 16px;
}

#form_wrap .main_form .payment label {
  font-weight: 600;
  font-size: 14px;
}

#form_wrap .buy_btn {
  padding: 14px 24px;
  font-size: 15px;
  color: #fff;
  background-color: var(--header-color);
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  float: right;
  transition: 0.2s;
}

#form_wrap .buy_btn:hover {
  background-color: rgb(167, 12, 12);
}

#form_wrap .sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#form_wrap .sum span {
  color: var(--header-color);
  font-size: 24px;
}

#form_wrap .sum.s1 {
  margin-bottom: 14px;
}

#form_wrap .sum.s1 .promotion {
  font-size: 16px;
  padding: 4px 10px;
  background-color: #b8e2e6;
  color: #2d7478;
  border-color: #d6e9c6;
}

#form_wrap .org-sum {
  color: #6e6e6e !important;
  text-decoration: line-through;
  font-size: 18px !important;
  padding-right: 10px;
}

small.error {
  color: red;
}

#form_wrap .main_form > .boxx input.error {
  border: rgb(213, 9, 9) 1px solid;
  outline: red solid 0.5px;
}

#form_wrap .main_form > .boxx input.success {
  border: rgb(9, 176, 213) 1px solid;
  outline: rgb(12, 142, 165) solid 0.5px;
}

#form_wrap .main_form > .boxx select.success {
  border: rgb(9, 176, 213) 1px solid;
  outline: rgb(12, 142, 165) solid 0.5px;
}

#form_wrap .main_form > .boxx select.error {
  border: rgb(213, 9, 9) 1px solid;
  outline: red solid 0.5px;
  color: red;
}

.placeHD::placeholder {
  color: red;
}

#form_wrap .row_prod {
  width: 100%;
}

#form_wrap .row_prod tr {
  padding-bottom: 20px;
  display: block;
}

#form_wrap .row_prod td {
  text-align: center;
}

#form_wrap .row_prod .quantity-prod {
  padding-left: 30px;
}

#form_wrap .row_prod .price-prod {
  color: var(--header-color);
  text-align: right;
}

#form_wrap .row_prod td.side {
  width: 20%;
}

#form_wrap .row_prod td.mid {
  width: 50%;
  padding-left: 20px;
}

#form_wrap .row_prod .img-prod {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

#form_wrap .row_prod .img-prod img {
  width: 50px;
  height: 50px;
}